<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="FLSAM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  
<system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    <remove invariant="System.Data.SQLite.EF6" /><add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".Net Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" /></DbProviderFactories>
  </system.data><userSettings>
    <FLSAM.Properties.Settings>
      <setting name="DBType" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DBPath" serializeAs="String">
        <value />
      </setting>
      <setting name="FLDBPath" serializeAs="String">
        <value />
      </setting>
      <setting name="HookAddr" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="HookPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="HookPort" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FLPath" serializeAs="String">
        <value />
      </setting>
      <setting name="IonPath" serializeAs="String">
        <value />
      </setting>
      <setting name="CleanupEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CleanupBackup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CleanupBackupPath" serializeAs="String">
        <value />
      </setting>
      <setting name="LastDBUpdate" serializeAs="String">
        <value>03/30/2014 15:13:00</value>
      </setting>
      <setting name="DBAggressiveScan" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TuneQThreshold" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="TuneQTimer" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="FLDataUseCache" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FLDBCheckIncompatibleHardpoints" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FLDBGoForDefaultPPlant" serializeAs="String">
        <value>False</value>
      </setting>
    </FLSAM.Properties.Settings>
  </userSettings>
</configuration>